<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.dao.AdminMenuMapper">
  <resultMap id="BaseResultMap" type="com.example.springboot.entity.AdminMenu">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
    <result column="PID" jdbcType="VARCHAR" property="pid" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="RANK" jdbcType="DECIMAL" property="rank" />
    <result column="SHOW" jdbcType="CHAR" property="show" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, MENU_NAME, PID, URL, TYPE, RANK, SHOW, CREATE_TIME, MODIFY_TIME, ICON
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SSO_ADMIN_MENU
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SSO_ADMIN_MENU
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.springboot.entity.AdminMenu">
    insert into SSO_ADMIN_MENU (ID, MENU_NAME, PID, 
      URL, TYPE, RANK, SHOW, 
      CREATE_TIME, MODIFY_TIME, ICON
      )
    values (#{id,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, #{rank,jdbcType=DECIMAL}, #{show,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{icon,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.springboot.entity.AdminMenu">
    insert into SSO_ADMIN_MENU
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="menuName != null">
        MENU_NAME,
      </if>
      <if test="pid != null">
        PID,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="rank != null">
        RANK,
      </if>
      <if test="show != null">
        SHOW,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="icon != null">
        ICON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=DECIMAL},
      </if>
      <if test="show != null">
        #{show,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springboot.entity.AdminMenu">
    update SSO_ADMIN_MENU
    <set>
      <if test="menuName != null">
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        PID = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=CHAR},
      </if>
      <if test="rank != null">
        RANK = #{rank,jdbcType=DECIMAL},
      </if>
      <if test="show != null">
        SHOW = #{show,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springboot.entity.AdminMenu">
    update SSO_ADMIN_MENU
    set MENU_NAME = #{menuName,jdbcType=VARCHAR},
      PID = #{pid,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=CHAR},
      RANK = #{rank,jdbcType=DECIMAL},
      SHOW = #{show,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      ICON = #{icon,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>