<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.dao.AdminSystemRelationMapper">
  <resultMap id="BaseResultMap" type="com.example.springboot.entity.AdminSystemRelation">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ADMIN_ID" jdbcType="VARCHAR" property="adminId" />
    <result column="SYSTEM_ID" jdbcType="VARCHAR" property="systemId" />
    <result column="ORGAN_ID" jdbcType="VARCHAR" property="organId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ADMIN_ID, SYSTEM_ID, ORGAN_ID, CREATE_TIME, MODIFY_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SSO_ADMIN_SYSTEM_RELATION
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SSO_ADMIN_SYSTEM_RELATION
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.springboot.entity.AdminSystemRelation">
    insert into SSO_ADMIN_SYSTEM_RELATION (ID, ADMIN_ID, SYSTEM_ID, 
      ORGAN_ID, CREATE_TIME, MODIFY_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{adminId,jdbcType=VARCHAR}, #{systemId,jdbcType=VARCHAR}, 
      #{organId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.springboot.entity.AdminSystemRelation">
    insert into SSO_ADMIN_SYSTEM_RELATION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="adminId != null">
        ADMIN_ID,
      </if>
      <if test="systemId != null">
        SYSTEM_ID,
      </if>
      <if test="organId != null">
        ORGAN_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null">
        #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="organId != null">
        #{organId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springboot.entity.AdminSystemRelation">
    update SSO_ADMIN_SYSTEM_RELATION
    <set>
      <if test="adminId != null">
        ADMIN_ID = #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null">
        SYSTEM_ID = #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="organId != null">
        ORGAN_ID = #{organId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springboot.entity.AdminSystemRelation">
    update SSO_ADMIN_SYSTEM_RELATION
    set ADMIN_ID = #{adminId,jdbcType=VARCHAR},
      SYSTEM_ID = #{systemId,jdbcType=VARCHAR},
      ORGAN_ID = #{organId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>