<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.springboot.entity.User">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SEX" jdbcType="CHAR" property="sex" />
    <result column="CARD" jdbcType="VARCHAR" property="card" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="NATIVE_PLACE" jdbcType="VARCHAR" property="nativePlace" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="LAST_TIME" jdbcType="TIMESTAMP" property="lastTime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_PEOPLE" jdbcType="VARCHAR" property="createPeople" />
    <result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PHONE, USER_NAME, ACCOUNT, PASSWORD, SEX, CARD, TEL, NATIVE_PLACE, ADDRESS, LAST_TIME, 
    REMARK, CREATE_PEOPLE, CREATE_ID, CREATE_TIME, MODIFY_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SSO_USER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SSO_USER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.springboot.entity.User">
    insert into SSO_USER (ID, PHONE, USER_NAME, 
      ACCOUNT, PASSWORD, SEX, 
      CARD, TEL, NATIVE_PLACE, 
      ADDRESS, LAST_TIME, REMARK, 
      CREATE_PEOPLE, CREATE_ID, CREATE_TIME, 
      MODIFY_TIME)
    values (#{id,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, 
      #{card,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{nativePlace,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{lastTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{createPeople,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.springboot.entity.User">
    insert into SSO_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="account != null">
        ACCOUNT,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="card != null">
        CARD,
      </if>
      <if test="tel != null">
        TEL,
      </if>
      <if test="nativePlace != null">
        NATIVE_PLACE,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="lastTime != null">
        LAST_TIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="createPeople != null">
        CREATE_PEOPLE,
      </if>
      <if test="createId != null">
        CREATE_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="card != null">
        #{card,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null">
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createPeople != null">
        #{createPeople,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springboot.entity.User">
    update SSO_USER
    <set>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        ACCOUNT = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=CHAR},
      </if>
      <if test="card != null">
        CARD = #{card,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null">
        NATIVE_PLACE = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createPeople != null">
        CREATE_PEOPLE = #{createPeople,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springboot.entity.User">
    update SSO_USER
    set PHONE = #{phone,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      ACCOUNT = #{account,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=CHAR},
      CARD = #{card,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      NATIVE_PLACE = #{nativePlace,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_PEOPLE = #{createPeople,jdbcType=VARCHAR},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>